@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: "#C2185B";
  --color-secondary: "#A68EBB";
  --color-champagne: "#F7E7CE";
  --color-background: "#FAF9F6";
  --color-heading: "#4E342E";
  --color-text: "#4F4F4F";
  --color-gold: "#B7935F";

  --font-secondary: Playfair Display, serif;
  --font-primary: Inter, sans-serif;
}
