@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@tailwind utilities;

@theme {
  /* error fixed and learning  : don't use string   */
  --color-background: #faf6f0;
  --color-secondary: #dcd8d3;
  --color-accent: #8e242c;
  --color-txt: #3c322e;
  --color-utility: #b38b59;

  /* dark mode */
  --color-dark-bg: #1a1d24;
  --color-dark-secondary: #252a34;
  --color-dark-text: #e0e0e0;
  --color-dark-text-muted: #a8a8a8;
  --color-dark-border: #333a45;

  --font-secondary: Playfair Display, serif;
  --font-primary: Inter, sans-serif;
}

@layer base {
  body {
    @apply font-primary bg-background;
  }
}
